# Build directories
cmake-build-debug/
CMakeFiles/
CMakeCache.txt
.idea/
.vscode/

# Compiled objects
*.o
*.obj
*.elf
*.map
*.bin
*.hex

# Debug / intermediate
*.d
*.lst

# OS junk
.DS_Store
._*
Thumbs.db

# Logs
*.log